USE [master]
GO
/****** Object:  Database [dbrest]    Script Date: 29/08/2021 19:30:54 ******/
CREATE DATABASE [dbrest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbrest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbrest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbrest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\dbrest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbrest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbrest]
GO
/****** Object:  Table [dbo].[departamentos]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[colorfondo] [varchar](50) NULL,
	[colortexto] [varchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_departamentos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_marcas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[secciones]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[secciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[depto_id] [int] NOT NULL,
	[descripcion] [varchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_secciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presentaciones]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presentaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_largo] [varchar](50) NULL,
	[nombre_corto] [nchar](10) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_presentaciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[depto_id] [int] NULL,
	[seccion_id] [int] NULL,
	[marca_id] [int] NULL,
	[codigo] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[presentacion_id] [int] NULL,
	[precio_venta] [decimal](18, 2) NULL,
	[precio_compra] [decimal](18, 2) NULL,
	[inventariable] [int] NULL,
	[stock_inicial] [numeric](18, 2) NULL,
	[hay] [numeric](18, 2) NULL,
	[stock_minimo] [numeric](18, 2) NULL,
	[vence] [varchar](50) NULL,
	[imagen] [image] NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_articulos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_articulos]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[v_articulos]
as
select 
	a.id,
	a.codigo,
	a.descripcion as articulos,
	d.id as depto_id,
	d.descripcion as depto,
	s.id as seccion_id,
	s.descripcion as seccion,
	m.id as marca_id,
	m.nombre as marcas,	
	p.id as presentacion_id,
	p.nombre_corto as unidad,
	a.precio_venta as pventa,
	a.precio_compra as pcompra,
	a.inventariable,
	a.stock_inicial,
	a.hay,
	a.stock_minimo,
	a.vence,
	a.imagen,
	a.estado
from articulos as a
inner join departamentos as d
on a.depto_id = d.id
inner join secciones as s
on a.seccion_id = s.id
inner join marcas as m
on a.marca_id = m.id
inner join presentaciones as p
on a.presentacion_id = p.id
GO
/****** Object:  View [dbo].[v_secciones]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[v_secciones]
as
select 
	s.id,
	s.descripcion,
	d.id as depto_id,
	d.descripcion as departamento,
	s.estado
from secciones as s
inner join departamentos as d
on s.depto_id = d.id
GO
/****** Object:  Table [dbo].[roles]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendedores]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[documento] [varchar](20) NULL,
	[nombre_corto] [varchar](20) NULL,
	[sexo] [varchar](20) NULL,
	[ciudad] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[barrio] [varchar](50) NULL,
	[telefono] [varchar](20) NULL,
	[celular] [varchar](20) NULL,
	[correo] [varchar](100) NULL,
	[foto] [image] NULL,
	[clave] [varchar](max) NULL,
	[fecha_nac] [nchar](10) NULL,
	[salario_base] [money] NULL,
	[comision] [money] NULL,
	[salario_neto]  AS ([salario_base]+[comision]),
	[estado] [int] NULL,
	[login] [int] NULL,
	[rol_id] [int] NOT NULL,
 CONSTRAINT [PK_vendedores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_vendedores]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[v_vendedores]
as
select 
	v.id,
	v.nombres,
	v.apellidos,
	v.documento,
	v.nombre_corto,
	v.sexo,
	v.ciudad,
	v.direccion,
	v.barrio,
	v.telefono,
	v.celular,
	v.correo,
	v.foto,
	v.clave,
	v.fecha_nac,
	v.salario_base,
	v.comision,
	v.salario_neto,
	v.estado,
	v.login,
	r.id as rol_id,
	r.descripcion as roles
from vendedores as v inner join roles as r
on v.rol_id = r.id
GO
/****** Object:  Table [dbo].[mesas]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[salon_id] [int] NULL,
	[nombre_mesa] [varchar](50) NULL,
	[estado] [int] NULL,
	[disponible] [varchar](50) NULL,
	[tipo] [varchar](50) NULL,
 CONSTRAINT [PK_mesas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salones]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_salones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[articulos] ON 

SET IDENTITY_INSERT [dbo].[articulos] OFF
GO
SET IDENTITY_INSERT [dbo].[departamentos] ON 

INSERT [dbo].[departamentos] ([id], [descripcion], [colorfondo], [colortexto], [estado]) VALUES (1, N'depto 1', N'Purple', N'Black', 0)
INSERT [dbo].[departamentos] ([id], [descripcion], [colorfondo], [colortexto], [estado]) VALUES (2, N'depto 2', N'Black', N'White', 0)
SET IDENTITY_INSERT [dbo].[departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[marcas] ON 

INSERT [dbo].[marcas] ([id], [nombre], [estado]) VALUES (1, N'marca1', 0)
INSERT [dbo].[marcas] ([id], [nombre], [estado]) VALUES (2, N'marca 2', 0)
SET IDENTITY_INSERT [dbo].[marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[presentaciones] ON 

INSERT [dbo].[presentaciones] ([id], [nombre_largo], [nombre_corto], [estado]) VALUES (1, N'unidades', N'un        ', 0)
SET IDENTITY_INSERT [dbo].[presentaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[secciones] ON 

INSERT [dbo].[secciones] ([id], [depto_id], [descripcion], [estado]) VALUES (1, 1, N'seccion 1', 1)
INSERT [dbo].[secciones] ([id], [depto_id], [descripcion], [estado]) VALUES (2, 1, N'seccion 2', 0)
INSERT [dbo].[secciones] ([id], [depto_id], [descripcion], [estado]) VALUES (3, 2, N'seccion 3', 0)
SET IDENTITY_INSERT [dbo].[secciones] OFF
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_articulos_departamentos] FOREIGN KEY([depto_id])
REFERENCES [dbo].[departamentos] ([id])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_articulos_departamentos]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_articulos_marcas] FOREIGN KEY([marca_id])
REFERENCES [dbo].[marcas] ([id])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_articulos_marcas]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_articulos_presentaciones] FOREIGN KEY([presentacion_id])
REFERENCES [dbo].[presentaciones] ([id])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_articulos_presentaciones]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_articulos_secciones] FOREIGN KEY([seccion_id])
REFERENCES [dbo].[secciones] ([id])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_articulos_secciones]
GO
ALTER TABLE [dbo].[mesas]  WITH CHECK ADD  CONSTRAINT [FK_mesas_salones] FOREIGN KEY([salon_id])
REFERENCES [dbo].[salones] ([id])
GO
ALTER TABLE [dbo].[mesas] CHECK CONSTRAINT [FK_mesas_salones]
GO
ALTER TABLE [dbo].[secciones]  WITH CHECK ADD  CONSTRAINT [FK_secciones_departamentos] FOREIGN KEY([depto_id])
REFERENCES [dbo].[departamentos] ([id])
GO
ALTER TABLE [dbo].[secciones] CHECK CONSTRAINT [FK_secciones_departamentos]
GO
ALTER TABLE [dbo].[vendedores]  WITH CHECK ADD  CONSTRAINT [FK_vendedores_roles] FOREIGN KEY([rol_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[vendedores] CHECK CONSTRAINT [FK_vendedores_roles]
GO
/****** Object:  StoredProcedure [dbo].[sp_articulos_editar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_articulos_editar]
@id int,
@depto_id int,
@seccion_id int,
@marca_id int,
@codigo varchar(50),
@descripcion varchar(50),
@presentacion_id int,
@precio_venta decimal(18,2),
@precio_compra decimal(18,2),
@inventariable int,
@stock_inicial numeric(18,2),
@stock_minimo numeric(18,2),
@vence varchar(50),
@imagen image,
@estado int
as
if exists(select codigo from articulos where codigo=@codigo and id<>@id)
raiserror('Ya existe un articulo con este codigo',16,1)
else
update articulos set
	depto_id = @depto_id,
	seccion_id = @seccion_id,
	marca_id = @marca_id,
	codigo = @codigo,
	descripcion = @descripcion,
	presentacion_id = @presentacion_id,
	precio_venta = @precio_venta,
	precio_compra = @precio_compra,
	inventariable = @inventariable,
	stock_inicial = @stock_inicial,
	stock_minimo= @stock_minimo,
	imagen = @imagen,
	estado = @estado
where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_articulos_eliminar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_articulos_eliminar]
@id int
as
delete from articulos where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_articulos_insertar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_articulos_insertar]
@depto_id int,
@seccion_id int,
@marca_id int,
@codigo varchar(50),
@descripcion varchar(50),
@presentacion_id int,
@precio_venta decimal(18,2),
@precio_compra decimal(18,2),
@inventariable int,
@stock_inicial numeric(18,2),
@hay numeric(18,2),
@stock_minimo numeric(18,2),
@vence varchar(50),
@imagen image,
@estado int
as
if exists(select codigo from articulos where codigo=@codigo)
raiserror('Ya existe un articulo con este codigo',16,1)
else
insert into articulos values(
	@depto_id,
	@seccion_id,
	@marca_id,
	@codigo,
	@descripcion,
	@presentacion_id,
	@precio_venta,
	@precio_compra,
	@inventariable,
	@stock_inicial,
	@hay,
	@stock_minimo,
	@vence,
	@imagen,
	@estado
)
GO
/****** Object:  StoredProcedure [dbo].[sp_articulos_mostrar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_articulos_mostrar]
@estado int,
@buscar varchar(20)
as
select * from v_articulos as va 
where va.estado=@estado and va.articulos like '%'+@buscar+'%'
order by va.articulos desc
GO
/****** Object:  StoredProcedure [dbo].[sp_departamentos_editar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_departamentos_editar]
@id int,
@descripcion varchar(50),
@colorfondo varchar(50),
@colortexto varchar(50),
@estado int
as
if exists(select descripcion from departamentos 
where descripcion=@descripcion and id<>@id)
raiserror('Ya existe un departamento con este nombre',16,1)
else
update departamentos set
	descripcion = @descripcion,
	colorfondo = @colorfondo,
	colortexto = @colortexto,
	estado = @estado
	where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_departamentos_eliminar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc  [dbo].[sp_departamentos_eliminar]
@id int
as
delete from departamentos where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_departamentos_insertar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_departamentos_insertar]
@descripcion varchar(50),
@colorfondo varchar(50),
@colortexto varchar(50),
@estado int
as
if exists(select descripcion from departamentos where descripcion=@descripcion)
raiserror('Ya existe un departamento con este nombre',16,1)
else
insert into departamentos values(
@descripcion,@colorfondo,@colortexto,@estado)
GO
/****** Object:  StoredProcedure [dbo].[sp_departamentos_mostrar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_departamentos_mostrar]
@estado int
as
select * from departamentos where estado=@estado
GO
/****** Object:  StoredProcedure [dbo].[sp_marcas_editar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_marcas_editar]
@id int,
@nombre varchar(50),
@estado int
as
if exists (select nombre from marcas where nombre=@nombre and id<>@id)
raiserror('Y existe una marca con este nombre',16,1)
else
update marcas set 
	nombre = @nombre,
	estado = @estado
	where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_marcas_eliminar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_marcas_eliminar]
@id int
as
delete from marcas where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_marcas_insertar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_marcas_insertar]
@nombre varchar(50),
@estado int
as
if exists (select nombre from marcas where nombre=@nombre)
raiserror('Y existe una marca con este nombre',16,1)
else
insert into marcas values(@nombre,@estado)
GO
/****** Object:  StoredProcedure [dbo].[sp_marcas_mostrar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_marcas_mostrar]
@estado int
as
select * from marcas where estado=@estado
GO
/****** Object:  StoredProcedure [dbo].[sp_mostrar_secciones_por_departamento]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_mostrar_secciones_por_departamento]
@depto_id int
as
select * from v_secciones as vs where vs.depto_id=@depto_id 
and vs.estado = 0
GO
/****** Object:  StoredProcedure [dbo].[sp_presentaciones_editar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_presentaciones_editar]
@id int,
@nombre_largo varchar(50),
@nombre_corto nchar(10),
@estado int
as
if exists(select nombre_largo from presentaciones where nombre_largo=@nombre_largo and id<>@id)
raiserror('Este nombre ya existe',16,1)
else if exists(select nombre_corto from presentaciones where nombre_corto=@nombre_corto and id<>@id)
raiserror('Este nombre corto ya existe',16,1)
else
update presentaciones set
	nombre_largo = @nombre_largo,
	nombre_corto = @nombre_corto,
	estado = @estado
	where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_presentaciones_eliminar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_presentaciones_eliminar]
@id int
as
delete from presentaciones where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_presentaciones_insertar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_presentaciones_insertar]
@nombre_largo varchar(50),
@nombre_corto nchar(10),
@estado int
as
if exists(select nombre_largo from presentaciones where nombre_largo=@nombre_largo)
raiserror('Este nombre ya existe',16,1)
else if exists(select nombre_corto from presentaciones where nombre_corto=@nombre_corto)
raiserror('Este nombre corto ya existe',16,1)
else
insert into presentaciones values(@nombre_largo,@nombre_corto,@estado)
GO
/****** Object:  StoredProcedure [dbo].[sp_presentaciones_mostrar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_presentaciones_mostrar]
@estado int
as
select * from presentaciones where estado=@estado
GO
/****** Object:  StoredProcedure [dbo].[sp_secciones_editar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_secciones_editar]
@id int,
@depto_id int,
@descripcion varchar(50),
@estado int
as
if exists (select descripcion from secciones 
where descripcion=@descripcion and id<>@id)
raiserror('Ya existe una seccion con este nombre',16,1)
else
update secciones set
	depto_id = @depto_id,
	descripcion = @descripcion,
	estado = @estado
	where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_secciones_eliminar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_secciones_eliminar]
@id int
as
delete from secciones where id=@id
GO
/****** Object:  StoredProcedure [dbo].[sp_secciones_insertar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_secciones_insertar]
@depto_id int,
@descripcion varchar(50),
@estado int
as
if exists (select descripcion from secciones where descripcion=@descripcion)
raiserror('Ya existe una seccion con este nombre',16,1)
else
insert into secciones values(@depto_id,@descripcion,@estado)
GO
/****** Object:  StoredProcedure [dbo].[sp_secciones_mostrar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_secciones_mostrar]
@estado int 
as
select * from v_secciones as vs
where vs.estado=@estado
GO
/****** Object:  StoredProcedure [dbo].[sp_vendedores_editar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_vendedores_editar]
@id int,
@nombres varchar(50),
@apellidos varchar(50),
@documento varchar(20),
@nombre_corto varchar(20),
@sexo varchar(20),
@ciudad varchar(50),
@direccion varchar(50),
@barrio varchar(50),
@telefono varchar(20),
@celular varchar(20),
@correo varchar(100),
@foto image,
@clave varchar(50),
@fecha_nac nchar(10),
@salario_base money,
@comision money,
@estado int,
@rol_id int
as
if exists(select documento from vendedores 
where documento=@documento and id<>@id)
raiserror('Ya existe un vendedor con este documento',16,1)
else
update vendedores
set
nombres=@nombres,
apellidos=@apellidos,
documento=@documento,
nombre_corto=@nombre_corto,
sexo=@sexo,
ciudad=@ciudad,
direccion=@direccion,
barrio=@barrio,
telefono=@telefono,
celular=@celular,
correo=@correo,
foto=@foto,
clave=@clave,
fecha_nac=@fecha_nac,
salario_base=@salario_base,
comision=@comision,
estado=@estado,
rol_id=@rol_id

GO
/****** Object:  StoredProcedure [dbo].[sp_vendedores_eliminar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_vendedores_eliminar]
@id int
as
delete from vendedores where id=@id

GO
/****** Object:  StoredProcedure [dbo].[sp_vendedores_insertar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_vendedores_insertar]
@nombres varchar(50),
@apellidos varchar(50),
@documento varchar(20),
@nombre_corto varchar(20),
@sexo varchar(20),
@ciudad varchar(50),
@direccion varchar(50),
@barrio varchar(50),
@telefono varchar(20),
@celular varchar(20),
@correo varchar(100),
@foto image,
@clave varchar(50),
@fecha_nac nchar(10),
@salario_base money,
@comision money,
@estado int,
@login int,
@rol_id int
as
if exists(select documento from vendedores where documento=@documento)
raiserror('Ya existe un vendedor con este documento',16,1)
else
insert into vendedores values
(
@nombres,
@apellidos,
@documento,
@nombre_corto,
@sexo,
@ciudad,
@direccion,
@barrio,
@telefono,
@celular,
@correo,
@foto,
@clave,
@fecha_nac,
@salario_base,
@comision,
@estado,
@login,
@rol_id
)
GO
/****** Object:  StoredProcedure [dbo].[sp_vendedores_mostrar]    Script Date: 29/08/2021 19:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_vendedores_mostrar]
@estado int,
@buscar varchar(20)
as
select * from v_vendedores as vv 
where vv.estado = @estado and vv.nombres+vv.apellidos like
 '%'+@buscar+'%'

GO
USE [master]
GO
